/* IA Writer Quattro S is used for monospace/code */
@font-face {
  font-family: "IA Writer Quattro S";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/iAWriterQuattroS-Regular.woff2") format("woff2");
}

/* Lora variable font for body text */
@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora.var.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --ifm-color-primary: #4f46e5;
  --ifm-color-primary-dark: #4338ca;
  --ifm-color-primary-darker: #3730a3;
  --ifm-color-primary-darkest: #312e81;
  --ifm-color-primary-light: #6366f1;
  --ifm-color-primary-lighter: #818cf8;
  --ifm-color-primary-lightest: #a5b4fc;
  --ifm-font-family-base: "Lora", serif;
  --ifm-font-family-monospace: "IA Writer Quattro S", monospace;
  --ifm-font-size-base: 1.0rem;
  --ifm-line-height-base: 1.6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

article img {
  border-radius: 8px;
}

a {
  text-decoration: none;
}

pre > code {
  font-family: "IA Writer Quattro S", monospace;
  font-size: 1em;
  line-height: 1.3em;
}

[data-theme='dark'] {
  --ifm-color-primary: #818cf8;
  --ifm-color-primary-dark: #6366f1;
  --ifm-color-primary-darker: #4f46e5;
  --ifm-color-primary-darkest: #4338ca;
  --ifm-color-primary-light: #a5b4fc;
  --ifm-color-primary-lighter: #c7d2fe;
  --ifm-color-primary-lightest: #e0e7ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
